.mainContainer {
	margin: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	height: 100vh;
	background-color: #e9e6e6;
	max-width: 80%;
	margin: 0 10%;
}
.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	margin-top: 1rem;
}

.chart-container {
	width: 80%;
	height: 100%;
}

.ui.icon.infoMessage {
	margin-top: 2rem;
	max-width: 60%;
}

.priceCurrencyContainer {
	max-width: 50%;
	margin: 0 25%;
}
