.filterContainer {
	padding-top: 2rem;
	display: flex;
	max-width: 70%;
	margin: 0 15%;

	align-items: flex-end;
}
.ui.dropdown.filters {
	flex-basis: 30%;
}
.ui.statistic.currentPrice {
	margin-left: 4rem;
	flex-basis: 30%;
}

.ui.statistic.currentPrice > .value {
	font-size: 2.2rem !important;
}

.ui.statistic.currentPrice > .label {
	text-transform: capitalize;
}
